@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-style($background,
  $border,
  $color,
  $hover-background: lighten($background, 7.5%),
  $hover-border: lighten($border, 7.5%),
  $hover-color: $color,
) {
  background: $background;
  color: $color;
  border-color: $border;

  &:hover,
  &:active {
    background: $hover-background;
    color: $hover-color;
    border-color: $hover-border;
  }

  &:focus,
  &.foucs {
    background: $hover-background;
    color: $hover-color;
    border-color: $hover-border;
  }

  &:disabled,
  &.disabled {
    background: $background;
    color: $color;
    border-color: $border;
  }
}